doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title M_staff
  style(media='screen').
    html{
    background: url(https://i.pinimg.com/originals/17/0d/fb/170dfba7aa02df50c699c1de18d8cefa.png) no-repeat center fixed;
    background-size: 1580px 780px;
    }
    .container .button-staff {
    position: relative;
    right: -43.5%;
    bottom: -580px;
    border: none;
    border-radius: 12px;
    width: 14.5%;
    height: 55px;
    margin: auto;
    margin-bottom: 100px;
    padding: 15px 25px;
    text-align: center;
    font-size: 26.5px;
    cursor: pointer;
    outline: none;
    font-family: 'Arial';
    text-transform: uppercase;
    color: #7944ac;
    box-shadow: 0 9px #999;
    background-color: #f8cc6d;
    }
    .button-staff:hover {
    box-shadow: #d7bde2;
    }
    .button-staff:active {
    background-color: #f7bd42;
    box-shadow: 0 5px rgb(124, 123, 123);
    transform: translateY(4px);
    }
    .container .button-logout {
      position: relative;
      right: -70%;
      bottom: -40px;
      border: none;
      border-radius: 12px;
      width: 10%;
      height: 52px;
      margin: auto;
      margin-bottom: 100px;
      padding: 15px 25px;
      text-align: center;
      font-size: 25px;
      cursor: pointer;
      outline: none;
      font-family: 'Arial';
      color: #ffffff;
      box-shadow: 0 9px #999;
      background-color: #FC3A7E;
      }
      .button-logout:hover {
      box-shadow: #d7bde2;
      }
      .button-logout:active {
      background-color: #f7bd42;
      box-shadow: 0 5px rgb(124, 123, 123);
      transform: translateY(4px);
      }
.container
  a(href='/tablestaff')
    button.button-staff
      b &#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE02;&#xE49;&#xE2D;&#xE21;&#xE39;&#xE25;
  a(href='/status')
        button.button-logout
          b Logout