doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title M_stu_Html
    style(media="screen").
      html {
      background: url(https://i.pinimg.com/originals/bb/c8/31/bbc831aa21604c272815c0454de77ff8.png) no-repeat center center fixed;
      background-size: 1540px 762px;
      }
      .container {
      position: relative;
      width: 100%;
      max-width: 10000px;
      }
      .container img {
      width: 1000%;
      height: auto;
      }
      .container .button-student {
      position: relative;
      right: -29%;
      bottom: -600px;
      border: none;
      border-radius: 12px;
      width: 14.5%;
      height: 55px;
      margin: auto;
      margin-bottom: 100px;
      padding: 15px 25px;
      text-align: center;
      font-size: 26.5px;
      cursor: pointer;
      outline: none;
      font-family: 'Arial';
      text-transform: uppercase;
      color: #7944ac;
      box-shadow: 0 9px #999;
      background-color: #f8cc6d;
      }
      .button-student:hover {
      box-shadow: #d7bde2;
      }
      .button-student:active {
      background-color: #f7bd42;
      box-shadow: 0 5px rgb(124, 123, 123);
      transform: translateY(4px);
      }
      .container .button-exam {
      position: relative;
      right: -40%;
      bottom: -600px;
      border: none;
      border-radius: 12px;
      width: 14.5%;
      height: 55px;
      margin: auto;
      margin-bottom: 100px;
      padding: 15px 25px;
      text-align: center;
      font-size: 26.5px;
      cursor: pointer;
      outline: none;
      font-family: 'Arial';
      text-transform: uppercase;
      color: #7944ac;
      box-shadow: 0 9px #999;
      background-color: #f8cc6d;
      }
      .button-exam:hover {
      box-shadow: #d7bde2;
      }
      .button-exam:active {
      background-color: #f7bd42;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
      }

      .container .button-logout {
      position: relative;
      right: -55%;
      bottom: -40px;
      border: none;
      border-radius: 12px;
      width: 10%;
      height: 52px;
      margin: auto;
      margin-bottom: 100px;
      padding: 15px 25px;
      text-align: center;
      font-size: 25px;
      cursor: pointer;
      outline: none;
      font-family: 'Arial';
      color: #ffffff;
      box-shadow: 0 9px #999;
      background-color: #FC3A7E;
      }
      .button-logout:hover {
      box-shadow: #d7bde2;
      }
      .button-logout:active {
      background-color: #f7bd42;
      box-shadow: 0 5px rgb(124, 123, 123);
      transform: translateY(4px);
      }
  body

    .container
      a(href='/tablestudent')
        button.button-student
          b ตารางเรียน
      a(href='/tableexamstudent')
        // ลิ้งเจมส์ ลิ้งค์ไปหน้าตารางสบ
        button.button-exam
          b ตารางสอบ
      a(href='/status')
        button.button-logout
          b Logout