doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Teach_Table_Html
  style(media='screen').
    html {
    background: url(https://i.pinimg.com/originals/03/12/4d/03124dec644dc94949229704ede04616.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }
    .container {
    position: relative;
    text-align: left;
    color: black;
    }
    .text {
    position: relative;
    bottom: -50px;
    left: 30px;
    }