doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Student_Table_Html
  style(media='screen').
    html {
    background: url(https://i.pinimg.com/originals/2d/23/ea/2d23ea520bbd731ef20bd147bbe7853c.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }