doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Teach_Table_Html
  style(media='screen').
    html {
    background: url(https://i.pinimg.com/originals/4f/cf/5e/4fcf5eb807f7c72ffa82f9980d5e2200.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }
    .container {
    position: relative;
    text-align: left;
    color: black;
    }
    .text {
    position: relative;
    bottom: -50px;
    left: 30px;
    }