doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Staff_table
  style(media='screen').
    html{
    background: url(https://i.pinimg.com/originals/ff/40/44/ff40446548c0c8219c780e04ba894b07.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }