doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Student_Table_Html
  style(media='screen').
    html {
    background: url(https://i.pinimg.com/originals/df/7b/82/df7b827b086e5124c2b3c746256bc421.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }