doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Staff_table
  style(media='screen').
    html{
    background: url(https://i.pinimg.com/originals/63/ee/62/63ee62189ecdb1796663a2d1b6120632.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }