doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title exam_table
  style(media='screen').
    html{
    background: url(https://i.pinimg.com/originals/a1/b3/84/a1b3849418ed602df53c56d81f2e6d22.png) no-repeat center fixed;
    background-size: 1540px 760px;
    }
    .notification {
    position: relative;
    left: 1300px;
    top: 100px;
    background-color: #C45CC2;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 200px;
    outline: none;
    font-family: 'Arial';
    border: none;
    }
    .notification:hover {
    background: red;
    }
    .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    }
.notification
  a(href='/notifystu')
    span(style='color: aliceblue;') &#xE08;&#xE31;&#xE14;&#xE01;&#xE32;&#xE23;&#xE41;&#xE08;&#xE49;&#xE07;&#xE40;&#xE15;&#xE37;&#xE2D;&#xE19;
    // <span class="badge">3</span>